.fundo{
	-fx-background-color: #075965;
}

.fundo-botao{
	-fx-background-color: #040537;
}

.fundo-imagem{
	-fx-background-image: url("../imgs/fundoLogin.jpg");
	-fx-background-repeat: no-repeat; 
	-fx-background-size: cover;
}

.txts{
	-fx-text-inner-color: white;
	-fx-prompt-text-fill: white;
}

